<h1>Showing Movie</h1>

<article>
  <header>
    <h2><%= @movie.title %></h2>
  </header>
  <p>
  <%= truncate(@movie.description, length: 40, separator: ' ') %>
  </p>

  <table>
    <tr>
      <th>Rating:</th>
      <td><%= @movie.rating %></td>
    </tr>
    <tr>
      <th>Total Gross:</th>
      <td><%= format_total_gross(@movie) %></td>
    </tr>
    <tr>
      <th>Release date:</th>
      <td><%= time_ago_in_words(@movie.released_on) %></td>
    </tr>
  </table>
  <%= link_to 'All movies', root_path %>
</article>
