<h1>Editing <%= @movie.title %></h1>

<%= form_for(@movie) do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :rating %><br>
  <%= f.text_field :rating %>
</p>
<p>
  <%= f.label :total_gross %><br>
  <%= f.number_field :total_gross %>
</p>
<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :released_on %><br>
  <%= f.date_field :released_on %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
