<h1>
  <h1><%= pluralize(@movies.size, 'Movie') %></h1>
</h1>

<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.title %></li>
    <li><%= movie.rating %></li>
    <li><%= format_price(movie) %></li>
    <li><%= movie.description %></li>
    <li><%= movie.released_on %></li>
    <li><%= link_to movie.title, movie_path(movie) %></li>
  <% end %>
</ul>
