<article>
  <header>
    <h1><%= @movie.title %></h1>
    <p>
      <%= image_for(@movie) %>
    </p>
  </header>

  <p>
    <%= @movie.rating %>
  </p>

  <h3>Released</h3>
  <p>
    <%= @movie.released_on %>
  </p>

  <h3>Description</h3>
  <p>
    <%= @movie.description %>
  </p>
  <h3>Total Gross</h3>
  <p>
    <%= format_price(@movie) %>
  </p>
  <h3>Cast</h3>
  <p>
    <%= @movie.cast %>
  </p>
  <h3>Director</h3>
  <p>
    <%= @movie.director %>
  </p>
  <h3>Duration</h3>
  <p>
    <%= @movie.duration %>
  </p>
</article>
<p>
  <%= link_to 'All Movies', movies_path %> |
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Delete', movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
