<article>
  <header>
    <h1><%= @movie.title %></h1>
  </header>

  <p>
    <%= @movie.rating %>
  </p>

  <h3>Released</h3>
  <p>
    <%= @movie.released_on %>
  </p>

  <h3>Description</h3>
  <p>
    <%= @movie.description %>
  </p>

  <h3>Total Gross</h3>
  <p>
    <%= format_price(@movie) %>
  </p>
</article>
<%= link_to 'All Movies', movies_path %>
